<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <form action="/users" method="post">
        <label for="fname">Full Name</label>
        <input type="text" id="fname" name="fname" placeholder="Enter your full name">
        <label for="age">Age</label>
        <input type="text" id="age" name="age" placeholder="Enter your age">
        <button type="submit">Save user</button>
    </form>
</body>
</html>