<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body style="background-color: rosybrown;">
    <nav>
        <ul style="text-align: center; list-style: none;">
            <li><a style="text-decoration: none;" href="/">Home</a></li>
            <li><a style="text-decoration: none;" href="/contact">Contact</a></li>
            <li><a style="text-decoration: none;" href="/about">About</a></li>
        </ul>
    </nav>
    <h1 style="text-align: center;">Welcome to About page</h1>
</body>
</html>